<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="latter">
                <h6>NEWS-LETTER</h6>
                <div class="sub-left-right">
                    <form>
                        <input type="text" value="Enter email here"onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter email here';}" />
                        <input type="submit" value="SUBSCRIBE" />
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="latter-right">
                <p>FOLLOW US</p>
                <ul class="face-in-to">
                    <li><a href="#"><span> </span></a></li>
                    <li><a href="#"><span class="facebook-in"> </span></a></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-9">
                <div class="footer-bottom-cate">
                    <h6>ĐẦM NỮ</h6>
                    <ul>
                        <li><a href="#">Đầm ngủ</a></li>
                        <li><a href="#">Đầm dạ hội</a></li>
                        <li><a href="#">Váy</a></li>

                    </ul>
                </div>
                <div class="footer-bottom-cate bottom-grid-cat">
                    <h6>ÁO NAM</h6>
                    <ul>
                        <li><a href="#">Áo thun nam</a></li>
                        <li><a href="#">Áo sơ mi</a></li>
                        <li><a href="#">Áo khoac</a></li>

                    </ul>
                </div>
                <div class="footer-bottom-cate">
                    <h6>QUẦN NAM</h6>
                    <ul>
                        <li><a href="#">Quần jean</a></li>
                        <li><a href="#">Quần kaki</a></li>
                        <li><a href="#">Quần thun</a></li>

                    </ul>
                </div>
                <div class="footer-bottom-cate">
                    <h6>QUẦN NAM</h6>
                    <ul>
                        <li><a href="#">Quần jean</a></li>
                        <li><a href="#">Quần kaki</a></li>
                        <li><a href="#">Quần thun</a></li>

                    </ul>
                </div>
                <div class="footer-bottom-cate">
                    <h6>GIÀY DÉP</h6>
                    <ul>
                        <li><a href="#">Giày thể thao</a></li>
                        <li><a href="#">Giày lưới</a></li>
                        <li><a href="#">Giày Sandal</a></li>

                    </ul>
                </div>
                <div class="footer-bottom-cate">
                    <h6>THỜI TRANG CÁC LOẠI</h6>
                    <ul>
                        <li><a href="#">Mũ nón</a></li>
                        <li><a href="#">Đồng hồ</a></li>
                        <li><a href="#">Dây chuyền</a></li>
                        <li><a href="#">Mắt kính</a></li>
                        <li><a href="#">Khuyên tai</a></li>
                        <li><a href="#">Nhẫn</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-bottom-cate cate-bottom describe">
                    <h6>THÔNG TIN</h6>
                    <ul>
                        <li>KHOA HỌC TỰ NHIÊN</li>
                        <li>CÔNG NGHỆ THÔNG TIN</li>
                        <li>ĐỒ ÁN THIẾT KẾ WEB</li>
                        <li >ECOM - SHOP TDP</li>
                        <li class="phone">Phone: 01666701611</li>
                        <li class="temp"> <p class="footer-class">Design by TDP</a> </p></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>